@charset "UTF-8";
 /* about
   -------------------------------------------------------------------------- */
.l-section-about-catch{
	padding: 70px 0;
	.text-content{
		width: 610px; 
	}
	figure{
		width: 380px; 
	}
}

.l-section-about-comment{
	padding: 70px 0;
	margin: 0 0 55px;
	.text-content{
		padding: 0 60px 0 0; 
	}
}

.l-section-about-details{
	padding: 70px 0;
	margin: 0 0 55px;
	background: #F7F7F7; 
	table{
		margin: 30px 0 0; 
	}
}

.l-section-about-history{
	padding: 70px 0;
}

.l-section-about-map{
	padding: 70px 0;
	margin: 0 0 100px;
	position: relative;
	.map{
		width: 100%;
		height: 500px; 
	}
	.map-button{
		position: absolute;
		left:50%;
		transform:translateX(-50%);
		bottom:32px;
		display: flex;
		width: 100%;
		height: 75px;
    	justify-content: center;
		.p-button-parallelogram{
			width: 100%; 
		}
	}
}