@charset "UTF-8";
/* animation
  -------------------------------------------------------------------------- */
@keyframes imageAnimation
{
  0%
  {
    -webkit-animation-timing-function: ease-in;animation-timing-function: ease-in;
    opacity: 0;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  }
  4.285714285714286%
  {
    opacity: 1;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  }
  14.285714285714285% {
    opacity: 1;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
  }
  16.857142857142854%{
    -webkit-transform: scale(1.1);transform: scale(1.1);-webkit-animation-timing-function: ease-out;animation-timing-function: ease-out;
    opacity: 0;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  }
  100%{
    -webkit-transform: scale(1.1);transform: scale(1.1);
    opacity: 0;-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
  }
}


