@charset "UTF-8";
 /* business
   -------------------------------------------------------------------------- */
.l-section-business{
	padding: 120px 0 0; 
	.p-flex{
		flex-flow:row wrap;
		-webkit-justify-content: flex-end; 
		justify-content: flex-end; 
	}
	.p-flex-start{
		-webkit-justify-content: flex-start; 
		justify-content: flex-start;
	}
	&--thumb{
		z-index: 10; 
		position: relative;
		width: 55%;
		margin: 0 0; 
		img{
			width: 100%;
			height: auto;  
		}
		figcaption{
			top:0;
			left:40px;
			position: absolute;
			transform:translateY(-70%);
			.jp{
			 	display: block;
			 	line-height: 1.2; 
			}
			.en{
			 	display: block;
			 	font-size: 2.8rem;
			 	letter-spacing: .03rem; 
			 	line-height: 1.2; 
			}
		}
		.right-caption{
			right:40px;
			left:initial;
			
		}
	}
	&--catch{
		width: 45%;
		padding: 60px 20px 0;
		font-size: 1.6rem;
		line-height: 1.6;
		font-weight: bold; 	  
		 
	}
	&--text-content {
		z-index: 1; 
		position: relative;
		margin: -360px 0 0;
		width: 94%;
		align-self:flex-end;
		display: flex;
		-webkit-justify-content: flex-end; 
		justify-content: flex-end;
		align-self:flex-start;
		&:before{
			width: 55%;
		}
		p{
			margin: 0;
			width: 45%;
			padding: 50px 70px 50px 20px; 
		}
		p.left{
			width: 45%;
			padding: 50px 20px 50px 70px; 
		}
	}

}

.l-section-business-banner{
	padding: 70px 0;
	margin: 0 0 50px;
	.p-button-parallelogram{
		margin: 0 auto;
		max-width: 500px;
		font-weight: bold;  
	}
}