@charset "UTF-8";
 /* location
   -------------------------------------------------------------------------- */
.l-section-locations-search{
	padding: 70px 0; 
	&__ul{
		flex-flow:row wrap;
		-webkit-justify-content: flex-start; 
		justify-content: flex-start;
		    align-items:center;
		&__items{
			width: 23%;
			max-width: 23%;
			margin: 0 1% 30px;
			a{
				line-height: 75px;
			}
			
		}
	}
}

.l-section-locations-shop{
	
	&__content{
		padding: 0 0 30px;
		margin: 0 auto 30px;
		border-bottom: 1px solid #c5c5c5; 
	}
	&__thumb{
		width: 50%;
	}
	.text-content{
		width: 50%;
		padding: 0 0 0 20px;
		flex-flow:row wrap;
		-webkit-box-sizing: border-box; 
		 -moz-box-sizing: border-box; 
		 box-sizing: border-box;
		margin: 0 0 10px; 
		.catch{
			font-size: 1.75rem;
			font-weight: bold;  
		}
		.address{
			line-height: 1.4;
			margin: 0 0 22px; 
			a{
				color:#333;
				text-decoration: underline; 
			}
		}
		.map{
			width:100%;
			height: 180px;  
		}
	}
	&__comment{
		align-item:center;
		border: 2px solid #BA001D;
		
		.title{
			line-height: 1.6; 
			padding: 0 35px;
			width: 25%;
			display: flex;
			font-size: 1.1rem;
			position: relative;
			span{
				align-self:center;
				font-weight:bold;  

			}
			&:before{
			content: "";
				position: absolute;
				right: 0;
				top:50%;
				width: 30px;
				height: 30px;
				transform:rotate(45deg) translateY(-50%);
				background: $_color_red;     
			}
		}
		.text-content{
			width: 75%;
			padding: 25px 40px;
			flex-flow:row wrap;
			-webkit-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			box-sizing: border-box;
			margin: 0 0 0; 
			.catch{
				font-size: 1.4rem;
				font-weight: bold;  
			}
			p{
				line-height: 1.6; 
			}
		}
	}
}