@charset "UTF-8";
 /* main visual
   -------------------------------------------------------------------------- */

.main-visual {
  display: block;
  width: 100%;
  height: 34.375vw;
  &--about {
    background: url('../images/main-about.jpg') center no-repeat;
    background-size: cover;
  }
   &--about-second {
    background: url('../images/main-second-about.jpg') center no-repeat;
    background-size: cover;
  }
  &--business {
    background: url('../images/main-business.jpg') center no-repeat;
    background-size: cover;
  }
  &--business-second {
    background: url('../images/main-second-business.jpg') center no-repeat;
    background-size: cover;
  }
  &--locations {
    background: url('../images/main-locations.jpg') center no-repeat;
    background-size: cover;
  }

  &--locations-second {
    background: url('../images/main-second-locations.jpg') center no-repeat;
    background-size: cover;
  }
  &--recruit {
    background: url('../images/main-recruit.jpg') center center no-repeat;
    background-size: cover;
  }
}

.p-page-title {
  color: #fff;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  span.ttl-ja {
    font-size: 22px;
    display: block;
    letter-spacing: 0.15em;
    margin-bottom: 10px;
  }
  .ttl-en {
    font-size: 3.3rem;
    text-align: center;
    line-height:1;
    letter-spacing: .03em;
  }
}

.svg-headline {
  fill: #fff;
}
