@charset "UTF-8";
 /* navigation
   -------------------------------------------------------------------------- */

.p-navi{
  background: #FCFCFC;
  border-bottom: 1px solid #eee;
  .flex{

  }
  ul{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    li{
      padding: 30px 0;
      text-align: center;
      width: 33.33%;
      font-family: 'TTCommons-Italic',sans-serif;
      letter-spacing: 2px;
      font-size:1.3rem;
      line-height: 1;
      a{
        text-decoration: none;
      }
      @media (max-width: 850px) {
        font-size:.875rem;

      }
    }
  }
}

