@charset "UTF-8";

/* font
-------------------------------------------------------------------------- */

@font-face {
  font-family: 'TTCommons-Italic';
  src: url('../font/TTCommons-Italic.eot?#iefix') format('embedded-opentype'),  url('../font/TTCommons-Italic.woff') format('woff'), url('../font/TTCommons-Italic.ttf')  format('truetype'), url('../font/TTCommons-Italic.svg#TTCommons-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TTCommons-Medium';
  src: url('../font/TTCommons-Medium.eot?#iefix') format('embedded-opentype'),  url('../font/TTCommons-Medium.woff') format('woff'), url('../font/TTCommons-Medium.ttf')  format('truetype'), url('../font/TTCommons-Medium.svg#TTCommons-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}



.flex{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.button{
  text-align: center;
  margin: 40px 0;
  a{
    display: inline-block;
    border: 1px solid #ddd;
    padding: 12px 40px;
    font-size:.825rem;
    text-decoration: none;
  }
}

.nav{
  width: 0%;
  height: 100vh;
  background: rgba(255,255,255,1);
  position: fixed;
  z-index: 100;
  visibility: hidden;
  flex-flow: row nowrap;
  align-items: center;
  transition: width .4s cubic-bezier(.7,0,.3,1);
  overflow: hidden;
  display: flex;
  align-items: center;
  right: 0;
  box-shadow: 0 0px 60px rgba(0,0,0,.1);
  .l-content-out-wrap{
    height: 0;
    overflow: hidden;
    transform: translateY(-20px);
    transition: height .8s cubic-bezier(.7,0,.3,1),transform .3s cubic-bezier(.7,0,.3,1);
    &:before{
      content: "";
      display: block;
      width: 100%;
      height: 100vh;
      @media screen and (max-width:768px) {
        height: 33.33vh;
      }
    }
  }
  .l-content {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    ul{
      color: #000;
      flex-flow: column wrap;
      align-items: self-start;
      width: 100%;
      margin: 0 auto;
      li{
        width: 100%;
        text-align: left;
        font-family: 'TTCommons-Italic';
        font-size: 2.2rem;
        letter-spacing: 3px;
        margin: 0 0 25px;
        border-bottom: 1px solid #eee;
        padding: 0 0 15px;
        &:last-child{
          border-bottom: 0px solid #eee;
        }
        a{
          width: 70%;
          margin: 0 auto;
          color: #000;
          text-decoration: none;
          position: relative;
          display: block;
          .box{
            content: "";
            background: #FFF;
            width: 105%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
          }
        }
      }
    }
  }
}

.nav.open{
  width: 30%;
  @media screen and (max-width:768px) {
    width: 70%;
  }
  .l-content-out-wrap{
    height: 100vh;
    transform: translateY(0);


  }
}