@charset "UTF-8";
 /* recruit
   -------------------------------------------------------------------------- */
.l-section-recruit-catch{
	padding: 105px 0 105px; 
	text-align: center;
	&--title{
		font-size: 1.8rem;
		margin: 0 0 40px;
	}
	&--text{
		line-height: 1.8;
		max-width: 560px;
		width: 90%;
		margin: 0 auto;
		display: block;
	}
	
}

.l-section-recruit-voice{
	background: #ba001d url(../images/bg_recruit_ul.jpg) center center no-repeat;
	background-blend-mode: multiply;
	background-size:cover;
	padding: 70px 0;
	position: relative; 
	
	&__ul{
		padding: 70px 0;
		width: 100%;
		flex-flow: row wrap;
		justify-content: space-evenly;
		position: relative;
		z-index: 10; 
		&__items{
			width: 29.3333%;
			margin: 0 2% 65px;
			a{
				display: block;
				width: 100%;
				height: 100%;
				cursor: pointer;
			} 
			&--thmb{
				width: 100%;
				margin: 0 0 10px; 
				img{
					width: 100%;
					height: auto;
					border-radius:50em;  
				} 
			}
			&--shopname{
				text-align: center;
				display:block;
				font-size: .9rem; 
			}
			&--name-title{
				text-align: center;
				display:block;
			}
			&--name{
				text-align: center;
				display:block;
				font-size: 1.8rem; 
			}
		}
	}
}

.l-section-recruit-guidelines{
	padding: 70px 0;
	h4{
		font-size: 1.8rem;
		color: $_color_red;
		margin: 40px 0 20px;
	}
	table{
		border:1px solid #830a1d;
		th{
			padding: 32px 0;
			-webkit-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			box-sizing: border-box; 
			width: 18%;
			text-align: center;
			border-bottom:1px solid #830a1d;
		}
		td{
			padding: 32px 0 32px 30px;
			-webkit-box-sizing: border-box; 
			-moz-box-sizing: border-box; 
			box-sizing: border-box; 
			width: 32%;
			border-bottom:1px solid #830a1d;
			color: #282828;
			line-height: 1.8; 
		}
	}
}
.p-recruit-modal{
	-webkit-background-size: cover; 
	 -o-background-size: cover; 
	 background-size: cover;
	 &__content{
	 	width: 50%;
	 	background: rgba(186,0,29,.9);
	 	padding: 50px 30px;
	 	-webkit-box-sizing: border-box; 
	 	-moz-box-sizing: border-box; 
	 	box-sizing: border-box;
	 	text-align: left;
	 	.name{
	 		font-size: 1.62rem;
	 		line-height: 1.6;
	 		.en{
	 			font-size: 1.1rem;
	 			padding: 0 0 0 20px; 
	 		}
	 	}
	 	.name-title{
	 		font-size: .9rem;
	 		display: inline-block;
	 		padding: 0 0 20px; 
	 	}
	 	.name-shop{
	 		padding: 0 0 20px 10px; 
	 		font-size: .9rem;
	 		display: inline-block;  
	 	}
	 	&--title{
	 		font-size: 2.1rem;
	 		line-height: 1.6;
	 	}
	 	&--text{
	 		display: block; 
	 	}
	}
	
}
.remodal-overlay{
	background: rgba(0, 0, 0, .8);
}
.remodal-close{
	color:#fff;
	top: -40px;
	right: 0;
	left: initial;
	&:before{
		font-size: 48px;
		right: 0;
	}
}
.recruit-remodal{
	max-width: 1000px;
	margin: 0 auto;  
	background-size:cover;
	padding: 0; 
	iframe{
		overflow:hidden;
		overflow-x:hidden;
		overflow-y:hidden;
		height:100%;
		width:100%;
		position:relative;
		top:0px;
		left:0px;
		right:0px;
		bottom:0px;
	}
}