@charset "UTF-8";
/* #Base
   -------------------------------------------------------------------------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "palt";
    font-feature-settings: "palt";
}
html.safari {
    -webkit-font-feature-settings: "pkna";
    font-feature-settings: "pkna";
}

body{
  font-family: $_font-family-sans-serif; 
}

h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}

ul, ol {
  padding:0;
  margin: 0;
  list-style:none;
}
/**
 * ネストされたリストのマージンをリセットします。
 */
li {
  > ul, > ol {
    margin-bottom: 0;
  }
}

/**
 * `dt`と`dd`の左端を揃えます。
 */
dd {
  margin-left: 0;
}

table {
  width: 100%;
}

th {
  text-align: left;
}





/**
 * IEでSVGがフルードイメージにならない不具合があります。
 * 属性値が`.svg`で終わる要素に適応します。
 */
[src$=".svg"],
[data$=".svg"] {
  width: 100%;
}

/**
 * 日本語では斜体を使用しないためリセットします。
 */
i,
cite,
em,
address,
dfn {
  font-style: normal;
}



