@charset "UTF-8";
/* -----------------------------------------------------------------------------
   #Text
   -------------------------------------------------------------------------- */
.en{
  font-family: $_font-family-sans-serif-en; 
}

.txt-index-section-read{
	letter-spacing: .05em;
	font-size: 1rem;
	line-height: 1.75;  
}

.txt-button-parallelogram{
	letter-spacing: .05em;
	font-size: 1.25rem;
	line-height: 75px;  
}
.txt-button-parallelogram-jp{
	font-size: 1rem;
	line-height:1.6;
	letter-spacing: .05em;
	font-weight: bold;

}

.p-head-copy{
	font-size: 1.75rem;
	margin: 0 0 40px;
	line-height: 1.7; 
}

/* -----------------------------------------------------------------------------
   #Text color
   -------------------------------------------------------------------------- */

.color-white{
  color: $_color-white; 
}
.color-red{
  color: $_color-red; 
}
.color-black{
  color: $_color-black; 
}
