
//////////////////////////////////////////////////////////////////////////////////////
//
// G L O B A L
//
//////////////////////////////////////////////////////////////////////////////////////

// default breakpoint
$_default-breakpoint: 'md';

// default wrapper width
$_max-width: 960px !default;

// default grid columns
$_column: 12 !default;

// base font-size
$_font-size: (
  'sm': 15px,
  'md': 16px,
) !default;

$_font-size--large: 16px !default;
$_font-size--small: 0.8em !default;

// base font-weight
$_font-weight-light: 300;
$_font-weight-normal: 400;
$_font-weight-bold: 600;

// base Rounded corners
$_radius: 3px !default;

// base animation speed
$_duration: 0.3s !default;

// base spacing
$_white-space: 1.7rem !default;
$_white-space--small: ($_white-space / 2) !default;
$_white-space--large: ($_white-space * 2) !default;


//////////////////////////////////////////////////////////////////////////////////////
//
// C O L O R
//
//////////////////////////////////////////////////////////////////////////////////////


/* base color */
$_color-text: #363636 !default;
$_color-bg: #fff !default;

/* link color */
$_color-link: #2b70ba !default;
$_color-link--visited: null !default;
$_color-link--hover: lighten($_color-link, 15%) !default;

/* component color */
$_color-ui-border: #ddd !default;
$_color-ui-bg: #fff !default;

/* theme color */
$_color-black: #1c1c1c !default;
$_color-white: #fff !default;
$_color-red: #ba001d;

$_color-black: #1c1c1c !default;

$_color-glay: #f7f7f7 !default;


//////////////////////////////////////////////////////////////////////////////////////
//
// F O N T S
//
//////////////////////////////////////////////////////////////////////////////////////


$_font-family-sans-serif: "游ゴシック", YuGothic, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !default;
$_font-family-sans-serif-en: "prohibition",sans-serif;

$_font-family-serif: "游明朝", "YuMincho", "Hiragino Mincho ProN", "HG明朝E", Meiryo, serif !default;




