@charset "UTF-8";
/* #Footer
   -------------------------------------------------------------------------- */
.l-footer {
  background: #222;
  color: #fff;
  margin: 200px 0 0;
  padding: 30px 0;
  font-weight:normal;
  .inner{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    max-width: 900px;
    width: 90%;
    margin:0 auto;
    padding: 30px 0;
    font-size:.825rem;
    div{
      line-height: 1.4;
      text-align: center;
      margin: 0 0 10px;
    }
    .logo{
      text-align: center;
      margin: 0 0 30px;
      img{
        width: 200px;
        height: auto;
      }
    }
    .copy{
      padding: 40px 0 0;
      font-family: 'TTCommons-Medium';
      font-size:.75rem;
      text-align: center;
      letter-spacing: 2px;
      margin: 10px 0 0;
    }

  }

  @media (max-width: 750px){
    .inner{
      display: flex;
      flex-flow: column wrap;
      justify-content: space-between;
      max-width: 900px;
      width: 90%;
      margin:0 auto;
      padding: 30px 0;
      font-size:.825rem;
      div{
        line-height: 1.4;
        margin:0 0 20px;
      }

    }
  }

}
