@charset "UTF-8";
 /* #Header
   -------------------------------------------------------------------------- */
.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 35px;
  display: flex;
  align-items: center;
  color: #fff;
  z-index:1000;
  height: 70px;
  box-sizing: border-box;
  &__logo {
    margin-right: auto;
  }
  a {
    text-decoration: none;
  }
  a.current-page{
    color:$_color-red;
  }
  &--inner{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    &-menu{
      display: flex;
      flex-flow: row nowrap;
      align-self: center;
      position: absolute;
      cursor: pointer;
      right: 0px;
      top:40px;

      .title{
        color: #fff;
        display: inline-block;
        font-size:1rem;
        line-height: 1;
        margin: 0 10px 0 0;
        letter-spacing: 1px;
      }
      .border{
        position: absolute;
        right: 0px;
        top:0px;
        div{
          transition: width .4s cubic-bezier(.7,0,.3,1),background .0s cubic-bezier(.7,0,.3,1);
          transition-delay: .3s;
        }
        .top{
          height: 1px;
          width: 34px;
          background: #fff;
          display: block;
        }
        .middle{
          height: 1px;
          width: 28px;
          background: #fff;
          display: block;
          margin: 8px 0;
        }
        .bottom{
          height: 1px;
          width: 22px;
          background: #fff;
          display: block;
        }
      }
      .border-close{
        position: absolute;
        width: 34px;
        height: 34px;
        right: 0px;
        top: 0px;
        visibility: hidden;
        div{
          transition: all .4s cubic-bezier(.7,0,.3,1);
          transition-delay: .2s;
          position: absolute;
        }
        .top{
          height: 0px;
          width: 1px;
          background: #000;
          display: block;
          left: 25%;
          transform:rotate(-45deg);
          transform-origin: left top;
        }
        .middle{
          width: 1px;
          height: 0px;
          background: #000;
          display: block;
          right: 0%;
          transform-origin: right top;
          transform:rotate(45deg);
        }
      }
    }
  }
}

.l-header.open{
  .l-header--inner{
    .l-header--inner-menu {

      .border {
        div {
          transition: width .4s cubic-bezier(.7,0,.3,1);
          transition-delay: 0s;
        }
        .top {
          width: 0px;
        }
        .middle {
          width: 0;
        }
        .bottom {
          width: 0;
        }
      }
      .border-close {
        visibility: visible;
        div {
          transition-delay: .2s;
        }
        .top {
          height: 34px;
          width: 1px;
        }
        .middle {
          width: 1px;
          height: 34px;
        }
      }
    }
  }
}

.nav--white{
  svg{
    fill:#fff;
    transition: all .4s cubic-bezier(.7,0,.3,1);

  }

}

.nav--black{
  svg{
    fill:#222;
    transition: all .4s cubic-bezier(.7,0,.3,1);
  }

  .border{

    .top{
      background: #222;
    }
    .middle{
      background: #222;
    }
    .bottom{
      background: #222;
    }
  }
}
