$_font-family-sans-serif: "游ゴシック", YuGothic, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif !default;

body{
    width: 100vw;
    background: #fff;
    font-family: $_font-family-sans-serif;
    position: relative;
    overflow-x: hidden;
}
.wrapper{
    background: #fff;
}
a{
    color: #000;
    text-decoration: underline;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
h2{
  text-align: center;
  font-family: 'TTCommons-Italic',sans-serif;
  letter-spacing: 6px;
  font-weight: normal;
  font-size:2.5rem;
  padding: 50px 0;
  position: relative;
  span{
    background: #fff;
    position: relative;
    line-height: 1;
    z-index: 1;
    padding: 10px 0 0;
  }
  &:after{
    content: "";
    position: absolute;
    width: 1px;
    height: 140px;
    background: #222;
    left: 50%;
    top:46%;
    transform: translate(-50%,-50%) rotate(30deg);
    z-index: 0;

  }
}



