 /* #Section
   -------------------------------------------------------------------------- */
.l-section{
	width: 100%;
	&__inner{
		max-width: 1600px;
		width: 90%;
		margin: 0 auto;
	}
}

 .l-section-main{
   width: 100%;
   height: 70vh;
   overflow: hidden;
   //background: url("../images/main2.jpg") center center no-repeat;
   //background-size: cover;
   position: relative;
   @media (max-width: 850px) {
     //background: url("../images/sp_main2.jpg") center center no-repeat;
     //background-size: cover;
   }
  h1{
    position: absolute;
    top:50%;
    left:50%;
    max-width: 400px;
    width: 25%;
    transform: translate(-50%,-50%);
    line-height: 0;
    margin: 0;
    z-index: 2;
    img{
      width: 100%;
      height: auto;
    }
    @media (max-width: 850px) {
      width: 50%;
    }
  }
   ul{
     width: 100%;
     height: 100%;
     padding: 0;
     margin: 0;
     position: relative;
     z-index: 1;
     background: #222;
     li{
       position: absolute;
       z-index: 0;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       opacity: 0;
       -webkit-animation: imageAnimation 42s linear infinite 0s;
       animation: imageAnimation 42s linear infinite 0s;
       color: transparent;

       &.bg1{
         -webkit-animation-delay: 0s;
         animation-delay: 0s;
         background: url(../images/main.jpg);
         @media (max-width: 850px) {
           background: url(../images/sp_main.jpg);
         }
         background-repeat: none;
         background-position: 50% 50%;
         background-size: cover;
       }
       &.bg2{
         -webkit-animation-delay: 6s;
         animation-delay: 6s;
         background: url(../images/main2.jpg);
         @media (max-width: 850px) {
           background: url(../images/sp_main2.jpg);
         }
         background-repeat: none;
         background-position: 50% 50%;
         background-size: cover;
       }
       &.bg3{
         -webkit-animation-delay: 12s;
         animation-delay: 12s;
         background: url(../images/main3.jpg);
         @media (max-width: 850px) {
           background: url(../images/sp_main3.jpg);
         }
         background-repeat: none;
         background-position: 50% 50%;
         background-size: cover;
       }
       &.bg4{
         -webkit-animation-delay: 18s;
         animation-delay: 18s;
         background: url(../images/main.jpg);
         @media (max-width: 850px) {
           background: url(../images/sp_main.jpg);
         }
         background-repeat: none;
         background-position: 50% 50%;
         background-size: cover;
       }
       &.bg5{
         -webkit-animation-delay: 24s;
         animation-delay: 24s;
         background: url(../images/main2.jpg);
         @media (max-width: 850px) {
           background: url(../images/sp_main2.jpg);
         }
         background-repeat: none;
         background-position: 50% 50%;
         background-size: cover;
       }
       &.bg6{
         -webkit-animation-delay: 30s;
         animation-delay: 30s;
         background: url(../images/main3.jpg);
         @media (max-width: 850px) {
           background: url(../images/sp_main3.jpg);
         }
         background-repeat: none;
         background-position: 50% 50%;
         background-size: cover;
       }
       &.bg7{
         -webkit-animation-delay: 36s;
         animation-delay: 36s;
         background: url(../images/main.jpg);
         @media (max-width: 850px) {
           background: url(../images/sp_main.jpg);
         }
         background-repeat: none;
         background-position: 50% 50%;
         background-size: cover;
       }
     }

   }

 }

 .l-section-news{
   .flex{
      justify-content: center;
      align-items: center;
   }
   ul.list{
      flex-flow: row wrap !important;
      margin: 100px 0 0;
      li{
        width: 100%;
        border-bottom: 1px solid #eee ;
        padding: 30px 0 ;
        text-align: center;
        @media (max-width: 850px) {
          padding: 30px 20px ;
        }
        a{
         text-decoration: none;
          @media (max-width: 850px) {
            flex-flow: row wrap;
            display: flex;
            justify-content: flex-start;
          }
        }
        .date{
          padding: 0 20px 0 0;
          @media (max-width: 850px) {
              width: 100%;
            text-align: left;
          }
        }
        &:last-child{
          border-bottom:none;
        }
      }
   }
   &--inner{
     border-bottom: 1px solid #eee;
     width: 100%;
     .button{
       margin: 0 0 40px;
     }
   }
   &--inner2{
     width: 100%;
     li{
       text-align: left !important;

     }
     .li-box{
       max-width: 800px;
       width: 90%;
       margin: 0 auto;
       display: flex;
       flex-flow: row nowrap;
     }
   }
   ul.top-list{
      width: 90%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 60px 0;


     li{
       font-size: .875rem;
       a{
         text-decoration: none;
       }
        .date{
          padding: 0 20px 0 0;
        }
     }
     .title{
       font-size:1.4rem;
       font-family: 'TTCommons-Italic',sans-serif;
       line-height: 1.4;
       padding: 3px 30px 0 0;
       letter-spacing: 2px;
     }
     .title2{
       font-size:1.4rem;
       font-family: 'TTCommons-Italic',sans-serif;
       line-height: 1.4;
       padding: 3px 30px 0 0;
       letter-spacing: 2px;
       width: 100%;
       text-align: center;
     }
    }
 }

 .l-section-about{
   padding: 60px 0;
   .text{
     max-width: 700px;
      width: 90%;
      margin: 100px auto 0;
      font-size:.875rem;
     p{
       line-height: 2.8;
        padding: 0 0 10px;
       @media (max-width: 850px) {
         br{
           display: none;
         }
       }
     }
    }
 }
 .l-section-our_menu{
   padding: 60px 0;
   text-align: center;
   h3{
     text-align: center;
     width: 100%;
     margin: 100px 0 30px;
     font-family: 'TTCommons-Medium';
     letter-spacing: 2px;
     border-bottom: 1px solid #222;
     display: inline-block;
     width: auto;
   }
   .flex{
     flex-flow: row wrap;
   }
   .recommend{
     max-width: 1200px;
     width: 90%;
     margin: 0 auto;
     padding: 0;

     li{
       width: 30%;
       @media (max-width: 850px) {
         width: 100%;
         margin: 0 0 20px;
       }
       span{
         display: block;
         width: 100%;
         font-size:.875rem;
         text-align: center;
       }
       img{
         width: 100%;
         height: 100%;
       }
     }
   }
 }
 .l-section-shop{
    .flex{
      max-width: 1200px;
      width: 90%;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;
      @media (max-width: 850px) {
        flex-flow: row wrap;
      }
    }
   #map{
     width: 45%;
     height:350px;
     border: 1px solid #999;
     @media (max-width: 850px) {
       width: 100%;
       margin: 0 0 30px;
     }
   }
   .info{
     width: 45%;
     font-size:.875rem;
     @media (max-width: 850px) {
       width: 100%;
     }
     .access{
       margin: 0 0 40px;
       p{
         margin: 0;
       }
     }
     .info_text{
       padding: 30px 0;
       border-bottom: 1px solid #ccc;
       border-top: 1px solid #ccc;
     }
   }
 }

 .l-section-insta{
   padding: 100px 0 0;
   .flex{
     max-width: 1200px;
     width: 90%;
     margin: 0 auto;
     justify-content: flex-start;
     align-items: center;
     @media (max-width: 850px) {
       justify-content: space-between;
     }
   }
   .flex{
     flex-flow: row wrap;
   }
   ul{
     li{
       width: 23%;
       padding: 0 1% 1%;
       @media (max-width: 850px) {
         width: 48%;
         padding: 0 1% 1%;
         line-height: 1;

       }
       img{
         width:100%;
         height: auto;
       }
     }
   }
 }
 .main-carousel{
   width: 100%;
   height: auto;
   display: block;
   margin: 0;
   padding: 0;
   .carousel-cell {
     margin: 0;
     width: 60%;
     height: 100%;
     overflow: hidden;
     text-align:center;
     @media (max-width: 1200px) {
       width: 70%;
     }
     @media (max-width: 850px) {
       width: 80%;
     }
     img {
       height: auto;
       width: 100%;
       left: 0;
       opacity: 0;
     }
     .carousel-cell-image {
       transition: opacity 0.4s;
       opacity: 0;
     }

     .carousel-cell-image.flickity-lazyloaded,
     .carousel-cell-image.flickity-lazyerror {
       opacity: 1;
     }
   }
 }

 .menu-carousel{
   width: 100%;
   height: auto;
   display: block;
   margin: 0;
   padding: 0;
   .carousel-cell {
     margin: 0;
     width: 60%;
     height: 100%;
     overflow: hidden;
     text-align:center;
     @media (max-width: 1200px) {
       width: 70%;
     }
     @media (max-width: 850px) {
       width: 80%;
     }
     img {
       height: auto;
       width: 100%;
       left: 0;
       opacity: 0;
     }
   }
 }

 .l-second-main{
  width: 100%;
  background: #222;
  height: 10vh;
  display: flex;
  align-items:center;
  justify-content: center;
   @media (max-width: 850px) {
     height: 20vh;
   }

  h1{
    font-family: 'TTCommons-Italic',sans-serif;
    font-size: 3em;
    color: #fff;
    text-align: center;
    letter-spacing: 4px;
    font-weight: normal;
    @media (max-width: 850px) {
      font-size: 2em;
    }
  }
 }

 .l-second-news-details{
    
    &--inner{
        padding:100px 0; 
       max-width:850px;
       width: 90%;
       margin: 0 auto;
       border-bottom: 1px solid #eee;
       .date{
        font-family: 'TTCommons-Italic';
        font-size: 1.2rem;
        letter-spacing: 4px;
       }
       .news-text{
        line-height: 2.4;
        font-size: .875rem;
       }
    }
 }
 .l-section-contact-form{
    .l-contents{
      max-width: 800px;
      width: 90%;
      margin: 100px auto;
      font-size:.875rem;
      h4{
        text-align: center;
        margin: 0 0 40px;
      }
      .form_submit_box{
        text-align: center;
      }
      .formTable{
        width: 100%;

        th{
          text-align: right;
          padding: 10px 30px 10px 0;
        }
        td{
          padding: 10px 0px 10px 0;
        }
      }
      .p-contact_submit_btn{
        text-align: center;
        input[type="submit"]{
          display: inline-block;
          background: #eee;
          padding: 5px 20px;
          font-size:.875rem;
        }
        input[type="button"]{
          display: inline-block;
          background: #ccc;
          padding: 8px 30px;
          font-size:.875rem;
          border: none;
          border-radius: 3px;

        }
      }
      fieldset{
        border: none;
        padding: 0;
        font-size:.875rem;
        #contact-form {
          max-width: 760px;
          margin: auto;
        }

        .required-text{
          font-size:1rem;
        }
        .form-list {
            margin: 0 0 30px;
            padding: 0;
          dt{
            margin: 0 0 5px;
          }
          dd{
            padding:0;
            margin: 0;
            .error_blank,.error_match{
              color: red;
              font-size: .75rem;
              display: block;
            }
          }
          select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            position: relative;
            outline: none;
          }
          select::-ms-expand {
            display: none;
          }
          input,
          textarea {
            width: 100%;
            background: #eee;
            outline: none;
          }
          input, select {
            border-radius: 50px;
            padding: 5px 40px 5px 16px;
            border: none;
            box-sizing: border-box;
          }
          textarea {
            padding: 8px 16px;
            border-radius: 5px;
            min-height: 10rem;
            box-sizing: border-box;
            border: none;
          }


        }
      }
    }
 }

 .l-section-thanks{
   margin: 100px 0;
   font-size:.875rem;
   p{
     text-align: center;
   }
   &--inner{
     max-width: 900px;
     width: 90%;
     margin: 0 auto;
   }

 }

 .flickity-page-dots{
   padding: 0;
 }