/*! Flickity v2.0.5
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 100px;
  border: none;
  //border-radius: 50%;
  //background: white;
  //background: hsla(0, 0%, 100%, 0.75);
  //background: url(../images/arrow.svg) center center no-repeat;
  //background-color: #222;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    display: none;
  }

  /* vertically center */

}
.previous{
  //background: url(../images/arrow_prev.svg) center center no-repeat;
  //background-color: #222;

}
.flickity-prev-next-button:hover {
  //background: white;
}

.flickity-prev-next-button:focus {
  outline: none !important;

  //box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {

}

.flickity-prev-next-button.previous { right: 100px; }
.flickity-prev-next-button.next { right: 0px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
  display: none;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -50px;
  padding: 0 50px 0 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
  @media screen and (max-width:800px) {
    padding: 0 20px 0 0;
    bottom: -30px;

  }
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 8px;
  height:8px;
  margin: 0 8px;
  border-radius: 50%;
  background: #dadada;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  background: #666;

}
@media screen and (max-width: 1600px) {
  .carousel-cell {
    width: 70%;
    img{
      width: 100%;
      height: auto;
    }
  }
}
@media screen and (max-width: 750px) {
  .carousel-cell {
    width: 70%;
    img{
      width: 100%;
      height: auto;
    }
  }
}
